.idea/
*.py[cod]
__pycache__/
*.tmp
*.nc
*.xml

!lisvap4EFASCalibration2018.xml
!OptionTserieMapsLisvap.xml
!tests/data/tests_settings.xml

!tests/data/e0_1_15.nc
!tests/data/et_1_15.nc
!tests/data/es_1_15.nc
!tests/data/areaall.nc
!tests/data/pr_1_15.nc
!tests/data/pd_1_15.nc
!tests/data/ws_1_15.nc
!tests/data/tn_1_15.nc
!tests/data/tx_1_15.nc
!tests/data/ta_1_15.nc
!tests/data/rg_1_15.nc
/.pytest_cache/
/dt
/LatHeatVap
/psy
/psy0
/.jekyll-metadata
/Gemfile.lock
/_site/
