.idea/
*.py[cod]
__pycache__/
*.tmp
*.nc
*.xml
*.prof

# unignoring xml settings for templates and tests
!settings_tpl.xml
!options*.xml
!tests/data/tests_efas.xml
!tests/data/tests_cordex.xml

# unignoring reference and input data for tests
!tests/data/reference/**/*.nc
!tests/data/input/**/*.nc
# unignoring area.nc for tests
!tests/data/areaall.nc

/.pytest_cache/
/dt
/LatHeatVap
/psy
/psy0
/.jekyll-metadata
/Gemfile.lock
/_site/
