cython
netCDF4
numpy

python-dateutil
docopt

# pathlib for python2.7 (this module is included in python3.6)
pathlib2

# packages for python2/python3 compatibility
future
nine
# packages for tests
pytest
tox
coverage
pytest-cov
